#game_box {

    width :800px;

    height :600px;

    background: #578a57;

    border :1px solid #444;

}



#rock {

    position: relative;

}



#paper {

    position: relative;

}



#scissors {

    position: relative;

}



#player_selection {

    position: relative;

}



#play_btn {

    position: relative;

    height: 5em;

    width: 8em;

}





.rotate360 {

    transition: transform 0.5s;

    transform: rotate(360deg);

}
